<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
    http://www.springframework.org/schema/task   
    http://www.springframework.org/schema/task/spring-task-4.0.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 自动扫描dao和service包(自动注入) -->
    <context:component-scan base-package="com.zt.web.actions,com.zt.dao,com.zt.service"/>

    <task:annotation-driven/>

    <!-- 定义使用C3P0连接池的数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!-- 指定连接数据库的JDBC驱动 -->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <!-- 连接数据库所用的URL -->
        <property name="jdbcUrl" value="jdbc:mysql://10.0.0.26:33016/dhht_oa"/>
        <!-- 连接数据库的用户名 -->
        <property name="user" value="dhht_oa"/>
        <!-- 连接数据库的密码 -->
        <property name="password" value="111111"/>

        <!-- 设置数据库连接池的初始化时的连接数 -->
        <property name="initialPoolSize" value="5"/>
        <!-- 设置数据库连接池的最小连接数 -->
        <property name="minPoolSize" value="5"/>
        <!-- 设置数据库连接池的最大连接数 -->
        <property name="maxPoolSize" value="200"/>
        <!-- 设置数据库连接池的连接的最大空闲时间,单位为秒 -->
        <property name="maxIdleTime" value="1800"/>
        <!-- <property name="breakAfterAcquireFailure" value="true" /> <property name="testConnectionOnCheckout" value="true" /> <property name="testConnectionOnCheckin" value="true" /> -->
    </bean>

    <!-- 定义Hibernate的SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!-- 依赖注入上面定义的数据源dataSource -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描注解方式配置的hibernate类文件 -->
        <property name="packagesToScan">
            <list>
                <value>com.zt.entity</value>
            </list>
        </property>
    </bean>

    <import resource="applicationContext-aop.xml"/>

    <!--SpringContext工具类-->
    <bean id="springContextUtil" class="com.zt.util.SpringContextUtil"/>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>

</beans>